.section-1 {

    background-color: rgb(66, 25, 245);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.section-2 {

    background-color: rgb(66, 25, 245);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

.section-3 {

    background-color: rgb(66, 25, 245);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.section-4 {

    background-color: rgb(66, 25, 245);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-5 {

    background-color: rgb(66, 25, 245);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

a :visited {
    color: white;
}

input[type='button'] {
    padding: 7px 20px;
    font-weight: bold;
    border: 0px;
    border-radius: 15px;

}


